@import url('reset.css');
@import url('_variables.css');
@import url('_common.css');
@import url('components/_burger.css');
@import url('components/_header.css');
@import url('components/_about.css');
@import url('components/_skils.css');
@import url('components/_portfolio.css');
@import url('components/_footer.css');



@font-face {
    font-family: Gilroy500;
    src: url('../fonts/Gilroy-Medium.ttf') format("truetype"),
        url('../fonts/Gilroy-Medium.woff') format("woff");
    font-weight: medium;
}

@font-face {
    font-family: Gilroy700;
    src: url('../fonts/Gilroy-Bold.ttf') format("truetype"),
        url('../fonts/Gilroy-Bold.woff') format("woff");
    font-weight: bold;
}